/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

/* Import Montserrat and Rubik */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import url(https://fonts.googleapis.com/css?family=Rubik);

/* Set default values */

* {
    font-family: 'Rubik', Arial, sans-serif;
}

.content {
  font-size 30px
}