/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

/* $accentColor = #3eaf7c */
$accentColor = #d17794
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

/* Import Montserrat and Rubik */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import url(https://fonts.googleapis.com/css?family=Rubik);

/* Set default values */

* {
    font-family: 'Rubik', Arial, sans-serif;
}
